body{
    /* background: rgb(230, 227, 227); */
    background-image: url(img/farming.jpg);
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.add_table{
    border-bottom-right-radius: 20px;
    box-shadow: 12px 12px 20px 6px #2e6da4;
}
.table tr:nth-child(odd){
	background: #B8CAE4;
}

.table tr:nth-child(even){
	background: #dae5f4;
}

th {
  background-color: #337ab7;
  color: white;
}